.boom {
  position: absolute;
  text-align: center;
}
h1 {
  text-align: center;
}
body {
	width: 650px;
	margin: 0 auto;
	overflow-x: hidden;
}
.msg {
	width: 0;
	text-align: center;
	position: relative;
}
