* {
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-size: 28px;
  text-align: center;
  margin: 5px 5px 0px 0px;
  padding-top: 10px;
}

h3 {
  font-size: 20px;
  text-align : center;
  margin: 3px;
}

.inputMessagediv {
  text-align: center;
  padding: 5px;
}

.inputMessage {
  display: inline-block;
    width: 77%;
    padding: 0.3em;
    margin: 0.2em 0;
    height: 2em;
    font-size: 24px;
}

.boom {
  position: absolute;
  text-align: center;
}
h1 {
  text-align: center;
}
body {
	width: 650px;
  height: 800px;
	margin: 0 auto;
	overflow-x: hidden;
  background-image: url("line_mountain.png");
  background-repeat : space;
  background-size: 100% auto;

}
.msg {
	width: 0;
  height: 200px;
	text-align: center;
	position: relative;
}

span {
  font-size: 50px;
}

.reset {
  display:block;
  width:150px;
  margin:0 auto;
  text-align:center
}
.container {
  padding-bottom: 60px;
  box-sizing: border-box;
}
footer {
  position: fixed;
  bottom: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-emergency {
  position: relative;

  display: block;

  width: 200px;
  height: 130px;
  margin: 0 auto;
}

a.btn-emergency:hover .btn-emergency-top {
  top: 10px;

  height: 50px;
}

a.btn-emergency:active .btn-emergency-top {
  top: 20px;

  height: 40px;
}

.btn-emergency-top {
  position: absolute;
  top: 0;
  left: 20px;

  width: 160px;
  height: 60px;
  margin-top: 30px;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;

  border-radius: 0 0 50% 50%;
  background: #d62d2d;
}

.btn-emergency-top:before {
  position: absolute;
  top: -30px;
  left: 0;

  width: 160px;
  height: 60px;

  content: "";

  border-radius: 80px / 30px;
  background: #ed4c4c;
}

.btn-emergency-top span {
  font-size: 38px;
  font-weight: bold;

  position: absolute;
  top: -24px;
  left: 0;

  width: 100%;

  -webkit-transform: scaleY(0.75);

  transform: scaleY(0.75);
  text-align: center;

  color: #f6a3a3;
}

.btn-emergency-bottom {
  position: absolute;
  top: 38px;
  left: 0;

  width: 200px;
  height: 80px;

  border-radius: 100px / 40px;
  background: #d8e4ea;
  -webkit-box-shadow: 0 8px 0 #c4cacc;
  box-shadow: 0 8px 0 #c4cacc;
}
